.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: #020617;
  color: white;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: #ccc;
  text-decoration: none;
}

.menu a:hover {
  color: #3b82f6;
}

.actions {
  display: flex;
  gap: 15px;
}

button {
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #555;
  background: transparent;
  color: white;
}